.clear{
	clear:both;
}
.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}
.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}
.loopcast_header {
	width: 1300px;
	margin: 0 auto;
	position: relative;
}
.chapter-one {
	background: url(../images/chapter1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.chapter-two {
	background: url(../images/chapter2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.chapter-three {
	background: url(../images/chapter3.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main_container {
	display: block;
	position: relative;
	width: 1300px;
	height: 100%;
	margin: 0 auto;

	background: rgba(254, 254, 254, .7);
}

#navmen_area_r {
	position: absolute;
	top: 21px;
	left: 190px;
	margin-left: 0px;
	.navmen {
		width: 1090px; 		
	}
}

.nav {
	&.side {
		position: absolute;
		top: 5px;
		z-index: 255;
		// margin-left: 150px;
	}
}

#genre_list {
	-webkit-padding-start: 0px;
}

.side_nav_menu {
	float: none !important;
	padding-left: 0px !important;
}

.sub_container {
	position: absolute;
	width: 400px;

	background: rgba(0, 0, 0, .4);
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Korona One', sans-serif;
	
	&.bottom {
		bottom: 150px;
	}
	&.right {
		right: 150px;
	}
	&.left {
		left: 230px;
	}
	&.top {
		top: 150px;
	}
	&.middle {
		top: 50%;
		margin-top: -250px;
	}
}

@media screen and (max-width: 1299px) { 
	.main_container {
		width: 900px;
	}
	.sub_container {
		width: 60%;
	}
	
	.bottom {
		bottom: 100px;
	}
	.right {
		right: 100px;
	}
	.left {
		left: 150px;
	}
	.top {
		top: 100px;
	}
	.middle {
		top: 50%;
		margin-top: 20%;
	}

	#navmen_area_r .navmen {
		width: 705px;
	}

	.loopcast_header {
		width: 930px;
	}
}

@media screen and (max-width: 900px) { 
	.main_container {
		width: 90%;
	}
	.sub_container {
		max-width: 300px;
	}
	.bottom {
		bottom: 10%;
	}
	.right {
		right: 5%;
	}
	.left {
		left: 15%;
	}
	.top {
		top: 10%;
	}
	.middle {
		top: 50%;
		margin-top: 20%;
	}
	
	#navmen_area_r .navmen {
		width: 635px;
	}

		.loopcast_header {
		width: 885px;
	}
}
