<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- timeline css -->
    <link rel="css/stylesheet" type="text/css" href="css/timeline/demo.css" />
    <link rel="css/stylesheet" type="text/css" href="css/timeline/style.css" />
    <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="css/timeline/styleIE.css" />
    <![endif]-->

    <script type="text/javascript" src="/javascripts/timeline/modernizr.custom.11333.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-bolt"></i>  <span class="light">nga</span> Dodona
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Start</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="wrapper">
        <section class="intro">
            <div class="intro-body">
                <%- msg %>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">DODONA</h1>
                            <p class="intro-text">A dedicated developer-led team. We are a close-knit group that have an innovative approach to programming.</p>
                            <div class="page-scroll">
                                <a href="#about" class="btn btn-circle">
                                    <i class="fa fa-angle-double-down animated"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="counter" class="container text-center">
            <div class="row">
                <div class="counter-hld col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="git-counter count numbers col-xs-4 col-sm-4 col-md-4 col-lg-4">52,147</div>
                        <div class="coffee-counter count numbers col-xs-4 col-sm-4 col-md-4 col-lg-4">1,9583</div>
                        <div class="pizza-counter count numbers col-xs-4 col-sm-4 col-md-4 col-lg-4">12345</div>
                    </div>
                    <div>
                        <div class="count titles col-xs-4 col-sm-4 col-md-4 col-lg-4">Git commits</div>
                        <div class="count titles col-xs-4 col-sm-4 col-md-4 col-lg-4">Coffe cups consumed</div>
                        <div class="count titles col-xs-4 col-sm-4 col-md-4 col-lg-4">Pizzas eaten</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Modus operandi</h2>
                    <p>We are a team of developers that take a straight, dedicated and innovative approach to web application and software building. We think that working on projects should be an alliance of the project's founders and the developers/engineers working in the project.</p>
                    <p>This is why we are an assembly of tech-only that work closely to produce progressive and advanced applications for founders.</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2" style='margin-top:100px;'>
                    <p>
                        <img src='img/what_dodona_does.png' style='width:100%;'>
                    </p>
                </div>
            </div>

            <div id="ss-container" class="ss-container">
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 id="november">November</h2>
                    </div>
                    <div class="ss-right">
                        <h2>2011</h2>
                    </div>
                </div>
                <div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a href="http://tympanus.net/Tutorials/AnimatedTextIconMenu/example1.html" class="ss-circle ss-circle-27">Animated Text and Icon Menu with jQuery</a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <span>July 12, 2011</span>
                            <a href="http://tympanus.net/Tutorials/AnimatedTextIconMenu/example1.html">Animated Text and Icon Menu with jQuery</a>
                        </h3>
                    </div>
                </div>
                <div class="ss-row ss-small">
                    <div class="ss-left">
                       <h3>
                            <span>June 9, 2011</span>
                            <a href="http://tympanus.net/Development/GridNavigationEffects/example5.html">Grid Navigation Effects with jQuery</a>
                        </h3>
                    </div>
                    <div class="ss-right">
                        <a href="http://tympanus.net/Development/GridNavigationEffects/example5.html" class="ss-circle ss-circle-29">Grid Navigation Effects with jQuery</a>
                    </div>
                </div>
            </div>

        </section>

        <section id="download" class="content-section text-center">
            <div class="download-section" id="team">
                <div class="container">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>Our Assembly</h2>
                        <p>We have always pushed ourselves in using the latest tech and methods to develop our applications, <b>we have never built the same app twice</b>.</p>

                        <div class="row">

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/ulp.jpg'); background-position: center center; background-size: 100% auto;">
                              <div class="caption">
                                <h3>Ulpian Morina</h3>
                                <p>Lead Developer / Server-side &amp; API programmer</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/ifko.jpg'); background-position: center center; background-size: 100% auto;">
                              <div class="caption">
                                <h3>Ivaylo Danev</h3>
                                <p>Front-end UI &amp; UX developer</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/rad.jpg'); background-position: center center; background-size: auto 100%;">
                              <div class="caption">
                                <h3>Marian Radev</h3>
                                <p>Front-end &amp; Graphic developer</p>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="row">

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/iliyan.jpg'); background-position: center center; background-size: auto 100%;">
                              <div class="caption">
                                <h3>Iliyan Vlahov</h3>
                                <p>Middleware / Server-side programmer</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/edon.jpg'); background-position: center center; background-size: auto 100%;">
                              <div class="caption">
                                <h3>Edon Budakova</h3>
                                <p>Project Manager / Marketing</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="background-image:url('img/ij.jpg'); background-position: center center; background-size: auto 100%;">
                              <div class="caption">
                                <h3>Ijtaba Hussain</h3>
                                <p>Mobile &amp; server-side engineer</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div style='margin-top:100px;'>
                            <h2>We'r hiring</h2>
                            <p>
                                <div id="f6s-jobs-464076733537" style='background-color:#fff; text-align:left; color:#000;'></div>
                                <script type="text/javascript">
                                var F6S_v1 = F6S_v1 || {}; F6S_v1.params = F6S_v1.params || []; F6S_v1.params.push({ type: 'widget', widgetType: 'program-jobs', profileId: 'dodona', containerId: 'f6s-jobs-464076733537' });(function() { var st = document.createElement('script'); st.type = 'text/javascript'; st.async = true; st.src = 'http://www.f6s.com/system/js/widgets'; var ft = document.getElementsByTagName('script')[0]; ft.parentNode.insertBefore(st, ft); })();
                                </script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" style="padding-bottom:100px;">
                    <h2>Let's get started</h2>
                    <p>We receive a number of projects at a time and we take time to choose a project because once we do pick a project to work on we completely dedicate ourselves on that <b>one</b> project. Therefore we cannot guarantee that we can work on your project but we can guarantee that we will take all our time and knowledge to know more about your project before making a decision.</p>
                    <p>
                        <form action="/" method="post">
                        <input type="text" placeholder="Your name" name="name">
                        <input type="text" placeholder="Short description of your app/project/idea" name="desc">
                        <input type="text" placeholder="Email" name="email">
                        <input type="submit" value="Submit" class="subbut">
                        </form>
                    </p>
                </div>
            </div>
        </section>
    </div>
    <!-- Core JavaScript Files -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>

    <!-- Timeline js -->
    <script src="/javascripts/timeline/timeline.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/grayscale.js"></script>

    <!-- CouterUp JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="javascripts/jquery.counterup.min.js"></script>

    <script>
        $(document).ready(function( $ ) {
            $('.git-counter').counterUp({
                delay: 10,
                time: 1000
            });
        });

        $(document).ready(function( $ ) {
            $('.coffee-counter').counterUp({
                delay: 10,
                time: 1000
            });
        });


        $(document).ready(function( $ ) {
            $('.pizza-counter').counterUp({
                delay: 20,
                time: 1000
            });
        });

        $(document).ready(function( $ ) {
            $('.code-counter').counterUp({
                delay: 10,
                time: 2500
            });
        });
    </script>
</body>

</html>
